@import "../../../scss/css-varibles.scss";


.DashboardTopNav {
  border-bottom: 1px solid var(--borders);
  height: 3.5rem;
  display: flex;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--sidebar-background);
  color: var(--sidebar-link-color);
  z-index: 1;

  .acc__search {
    cursor: pointer;
    user-select: none;
    &:hover {
      color: var(--sidebar-link-color-hover);
    }
  }

  .nav {
    display: flex;

    a, button {
      color: var(--sidebar-link-color);
      text-decoration: none;
      padding: 0;
      margin: 0 1.5rem 0 0;
      background-color: var(--sidebar-background);
      border: none;
      user-select: none;

      &:hover {
        color: var(--sidebar-link-color-hover);
      }
    }
  }
}

.keyCmd {
  background-color: var(--card-bg);
  border-radius: 4px;
  padding: 1.25px 5px;
  color: var(--dark-color);
  border: .5px solid var(--borders);
  font-size: 0.8rem;
  transition: .15s;
}
.keyCmd:hover {
  background-color: var(--card-bg-hover);
  border-radius: 4px;
  padding: 1.25px 5px;
  color: var(--dark-color);
}

@media (max-width: 768px) {
  .DashboardTopNav {
    display: none;
  }
}