.glow__popup {
  position: fixed;
  background: #0e0e0ebb;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 4;
  padding: 15px;
  overflow-y: scroll;

  .box {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
    height: auto;
    margin-top: 5vh;
    background: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid rgb(49, 49, 49);
    overflow: auto;
    animation: openModal 0.15s;

    .close__popup {
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 1rem;
      padding: 1px 5px 2px 5px;
      position: absolute;
      top: 15px;
      right: 15px;

      &:hover{
        border: 1px solid rgb(87, 87, 87);
      }
    }
  }
}

@keyframes openModal {
  0%   {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .glow__popup {
    .box {
      margin-top: 1rem;
    }
  }
}