.Dashboard {
  display: flex;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .children {
      padding: 2rem 2rem 4rem 2rem;
    }
  }
}

@media (max-width: 768px) {
  .Dashboard {
    display: block;
  
    .content {
      width: 100%;
      display: block;
  
      .children {
        padding: 1rem 1rem 6rem 1rem;
      }
    }
  }
}