@import "bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// 2. Include any default variable overrides here
@import "./css-varibles.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/bootstrap-utilities";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";


body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--body-bg);
  color: var(--body-color);
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p, small, h1, h2, h3, h4, h5, h6, span, a {
  &::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
  
  &::selection {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}

h1 {
  letter-spacing: -1.7px;
}

.text__analytics {
  color: #FF9027;
}

.glow__muted {
  color: #6D6D6D;
}

.card__banner {
  background-image: linear-gradient(270deg, #00DADA 0%, #0F7CE6 100%);
  border-radius: 1rem;
}

.card__dashboard {
  background-color: var(--card-bg);
  border-radius: 1rem;
  text-decoration: none;
  color: var(--card-color);

  &:hover {
    text-decoration: none;
    color: var(--card-color) !important;
  }
}

.card__hoverable {
  cursor: pointer;
  display: block;
  user-select: none;
  transition: .15s ease-in-out;

  &:hover {
    text-decoration: none;
    color: var(--card-color) !important;
    background-color: var(--card-bg-hover);
  }
}

.card__dashboard__sm {
  background-color: var(--card-bg);
  border-radius: 0.75rem;
}

.card__dashboard__loading {
  span,
  p {
    background: var(--card-bg-hover);
    background: linear-gradient(110deg, var(--body-bg) 8%, var(--card-bg-hover) 18%, var(--body-bg) 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }

  span {
    width: 100%;
    display: block;
    height: 40px;
  }

  p {
    height: 120px;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.acc__avatar {
  height: 45px;
  width: 7px;
  background-color: #00abe6;
  border-radius: 0.1rem;
  margin-right: 1rem;
}

// BUTTONS
.glow__btn {
  background: #DCDCDC;
  border-radius: 0.5rem;
  border: none;
  font-weight: bolder;
  padding: 0.6rem 1rem;
  letter-spacing: -0.15px;
  transition: .15s;
  text-decoration: none;
  color: #000;
  display: block;
  text-align: center;

  &:hover {
    background-color:  #b9b9b9;
    color: #000;
  }
}

.glow__btn__blue {
  background-image: linear-gradient(270deg, #00DADA 0%, #0F7CE6 100%);
  border-radius: 0.5rem;
  border: none;
  font-weight: bolder;
  padding: 0.6rem 1rem;
  letter-spacing: -0.15px;
  transition: .15s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;

  &:hover {
    background-image: linear-gradient(270deg, #00adad 0%, #0e68c2 100%);
    color: rgb(255, 255, 255);
  }
}

.glow__btn__github {
  background: #000000;
  border-radius: 0.5rem;
  border: 1px solid #404040;
  padding: 0.6rem 1rem;
  letter-spacing: -0.15px;
  transition: .15s;
  text-decoration: none;
  color: rgb(211, 211, 211);
  display: block;
  text-align: center;

  &:hover {
    border: 1px solid rgb(212, 212, 212);
    color: #fff;
  }
}

.glow__btn__dark {
  background: transparent;
  border: 1px solid var(--borders);
  border-radius: 8px;
  color: var(--body-color);
  font-size: 0.9rem;
  padding: 0.4rem 1.5rem;
  -webkit-appearance: none;
  user-select: none;
  transition: .10s ease-in-out;
  text-decoration: none;

  &:hover {
    border: 1px solid #afafaf;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--body-color);
  }
}

.glow__btn__dark__blue {
  background: transparent;
  border: 1px solid var(--borders);
  border-radius: 8px;
  color: var(--body-color);
  font-size: 0.9rem;
  padding: 0.4rem 1.5rem;
  -webkit-appearance: none;
  user-select: none;
  transition: .10s ease-in-out;
  text-decoration: none;

  &:hover {
    border: 1px solid #00ace5;
    background: #00ace5;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
}


.white__link {
  color: #9c9c9c;
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    color: #ebebeb;
    text-decoration: none;
  }
}

.white__link__2 {
  color: #868686;
  text-decoration: none;

  &:hover {
    color: rgb(235, 235, 235);
    text-decoration: none;
  }
}

// FORMS
.glow__input {
  display: block;
  background: var(--body-bg);
  border: 1px solid var(--borders);
  border-radius: 0.5rem;
  max-width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 7px;
  color: var(--body-color);
  transition: .15s;

  &:hover, &:focus{
    border: 1px solid #afafaf;
    outline: 0;
    box-shadow: none;
  }
}

.glow__select {
  background: transparent;
  border: 1px solid var(--borders);
  border-radius: 8px;
  color: var(--card-color);
  font-size: 0.9rem;
  padding: 0.4rem 2.7rem 0.4rem 1.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 14px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' width='12px' height='8px' viewBox='0 0 45 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M22.0562723,25.8361732 C21.3194956,25.813679 20.5894274,25.5212544 20.0270724,24.9588994 C19.8772268,24.8090538 19.7465466,24.6473003 19.6350318,24.476685 L1.02707237,5.86701631 C-0.144500503,4.69544343 -0.144500503,2.7959485 1.02707237,1.62437562 C2.19864525,0.452802747 4.09814018,0.452802747 5.26971306,1.62437562 L22.1943927,18.548696 L39.1189555,1.62437562 C40.2436654,0.499665662 42.0392284,0.454677264 43.2176066,1.48941043 L43.3615962,1.62437562 C44.533169,2.7959485 44.533169,4.69544343 43.3615962,5.86701631 L43.3615962,5.86701631 L24.7536367,24.476685 C24.6421219,24.6473003 24.5114418,24.8090538 24.3615962,24.9588994 C23.7992412,25.5212544 23.0691729,25.813679 22.3323962,25.8361732 Z'></path></svg>");
  user-select: none;
  transition: .10s ease-in-out;

  &:hover, &:focus{
    border: 1px solid #afafaf;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
  }
}

.glow__select__light {
  background: transparent;
  border: 1px solid var(--borders);
  border-radius: 8px;
  color: var(--card-color);
  font-size: 0.9rem;
  padding: 0.4rem 2.7rem 0.4rem 1.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 14px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' width='12px' height='8px' viewBox='0 0 45 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><path d='M22.0562723,25.8361732 C21.3194956,25.813679 20.5894274,25.5212544 20.0270724,24.9588994 C19.8772268,24.8090538 19.7465466,24.6473003 19.6350318,24.476685 L1.02707237,5.86701631 C-0.144500503,4.69544343 -0.144500503,2.7959485 1.02707237,1.62437562 C2.19864525,0.452802747 4.09814018,0.452802747 5.26971306,1.62437562 L22.1943927,18.548696 L39.1189555,1.62437562 C40.2436654,0.499665662 42.0392284,0.454677264 43.2176066,1.48941043 L43.3615962,1.62437562 C44.533169,2.7959485 44.533169,4.69544343 43.3615962,5.86701631 L43.3615962,5.86701631 L24.7536367,24.476685 C24.6421219,24.6473003 24.5114418,24.8090538 24.3615962,24.9588994 C23.7992412,25.5212544 23.0691729,25.813679 22.3323962,25.8361732 Z'></path></svg>");
  user-select: none;
  transition: .10s ease-in-out;

  &:hover, &:focus{
    border: 1px solid #afafaf;
    outline: 0;
    box-shadow: none;
    cursor: pointer;
  }
}


.glow__checkbox {
  margin-right: 1rem;
}

.alert-normal {
  border: 1px solid #bebebe;
  border-radius: 0.5rem;
  padding: 0.65rem 1rem;
}

.discover__picks {
  overflow-x: hidden;
  background-color: #00abe6;
  height: 150px;
  width: 100vw;
}

.badge-sm-success {
  background-color: var(--badge-success-bg);
  color: var(--badge-success-color);
  padding: 1.5px 7px;
  border-radius: 5px;
  font-size: 12px;
}

.badge-sm-danger {
  background-color: var(--badge-danger-bg);
  color: var(--badge-danger-color);
  padding: 1.5px 7px;
  border-radius: 5px;
  font-size: 12px;
}