$body-bg: #000000;
$body-color: #f5f5f5;
$borders: #333333;
$dark-color: #636363;

// Cards
$card-bg: #1C1C1C;
$card-bg-hover: #181818;
$card-color: #fff;

// Sidebar
$sidebar-background: #000;
$sidebar-link-color: #B0B0B0;
$sidebar-link-color-hover: #fff;

// badges
$badge-success-bg: #2c752831;
$badge-success-color: #6fd16a;
$badge-danger-bg: #9e222231;
$badge-danger-color: #fa8d8d;

// DARK MODE
// ====================================
$d-body-bg: #f8f8f8;
$d-body-color: #161616;
$d-borders: #d8d8d8;
$d-dark-color: #7e7e7e;


// Cards
$d-card-bg: #eee;
$d-card-bg-hover: #dbdbdb;
$d-card-color: rgb(39, 39, 39);

// Sidebar
$d-sidebar-background: #eee;
$d-sidebar-link-color: #1c1c1c;
$d-sidebar-link-color-hover: #000000;

// badges
$d-badge-success-bg: #50b44b;
$d-badge-success-color: #ffffff;
$d-badge-danger-bg: #e63838;
$d-badge-danger-color: #ffffff;