.Navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 4;
}

.MobileNav {
  min-height: 1rem;
  padding: 0.6rem 0;
  border-bottom: 1px solid #404040;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__nav {
    a {
      color: #9c9c9c;
      text-decoration: none;
      margin-right: 1.2rem;

      &:hover {
        color: #fff;
      }
    }
  }
}